<div id="product-page-with-sidenav" class="related-below">

  {{> components/custom/sidenav}}

<div class="product-schema" itemscope itemtype="http://schema.org/Product">

  {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

  {{#each product.shipping_messages}}
      {{> components/common/alert-info message}}
  {{/each}}
    {{> components/products/product-view schema=true  }}

    {{{region name="product_below_content"}}}

    {{> components/products/tabs}}
    <div class="clear"></div>
</div>
</div>
<div class="clear"></div>
</div>
