<footer class="footer" role="contentinfo">
    {{#if settings.show_newsletter_box}}
    <div class="footer-top newsletter">
        <div class="content newsletter">
            <div class="" data-section-type="newsletterSubscription">
                {{> components/common/subscription-form}}
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    {{/if}}
    <div class="container">
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                <h5 class="footer-info-heading">Contact Us</h5>
                <div class="regular">
                    <address>{{nl2br settings.address}}</address>
                </div>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Accounts & Orders</h5>
                <div class="regular">
                    <ul class="footer-info-list">
                        {{#if settings.gift_certificates_enabled}}
                        <li>
                            <a href="/giftcertificates.php">Gift Certificates</a>
                        </li>
                        {{/if}}
                        {{#if settings.show_wishlist}}
                        <li>
                            <a href="/wishlist.php">Wishlist</a>
                        </li>
                        {{/if}}
                        {{#if settings.account_creation_enabled}}
                        {{#if customer}}
                        <li><a class="navUser-action" href="{{urls.account.index}}">{{lang 'common.account'}}</a></li>
                        <li><a class="navUser-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a></li>
                        <li>
                            <a href="/account.php?action=order_status">Order Status</a>
                        </li>
                        {{else}}
                        <li><a class="navUser-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                            {{#if settings.account_creation_enabled}}
                            <span class="navUser-or">{{lang 'common.or'}}</span> <a class="navUser-action"
                                                                                    href="{{urls.auth.create_account}}">{{lang
                                'common.sign_up'}}</a></li>
                        {{/if}}
                        {{/if}}
                        {{/if}}

                        {{#if theme_settings.show_shipping_returns_link}}
                        <li>
                            <a href="{{theme_settings.shipping_returns_url}}">{{theme_settings.shipping_returns_link_name}}</a>
                        </li>
                        {{/if}}

                        {{#if theme_settings.show_sitemap_link}}
                        <li>
                            <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">Quick Links</h5>
                <div class="regular">
                    <ul class="footer-info-list">
                        {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">

                {{#if settings.blog_enabled}}
                <h5 class="footer-info-heading recent-posts-heading">Recent Blog Posts</h5>
                <div class="blog regular">
                    <ul class="footer-info-list">
                        {{#each (limit blog.recent_posts theme_settings.footer_blog_posts_count)}}
                        <li><a href="{{url}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                <div class="social-media">
                    {{> components/common/social-links}}
                </div>
            </article>
            <div class="clear"></div>
            {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
                <div class="clear"></div>
            </div>
            {{/if}}
            {{! components/common/payment-icons}}

        </section>

        <div class="clear"></div>
    </div>
    <div class="disclaimer">Statements made within this website have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure, or prevent any disease. See our <a href="/terms-of-use/">Terms of Use.</a>
    </div>

    <div class="footer-bottom">
        <div class="content copyright">
            <ul class="site-info">


                {{#if theme_settings.show_copyright_footer}}
                <li class="copyright"><span class="current-year">&copy; <span id="copyright_year"></span> {{settings.store_name}}</span>
                </li>
                {{/if}}


                <span class="separator"> | </span>
                <li class="sitemap"><a href="/privacy-policy/"> Privacy Policy </a> </li>
                    <span class="separator"> | </span>
                <li class="sitemap"><a href="/terms-of-use/"> Terms of Use </a> </li>


                <div class="clear"></div>
            </ul>
        </div>
    </div>

</footer>
