{{#if children}}
<a class="navPages-action has-subMenu" href="{{url}}">
    {{name}} <i class="fa fa-chevron-down main-nav" aria-hidden="true">
    <svg>
        <use xlink:href="#icon-chevron-down"/>
    </svg>
</i>
</a>
<div class="navPage-subMenu" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        {{#startsWith "Se" name}}
        {{#each children}}
        <li class="navPage-subMenu-item">
            {{#if children}}
            <a
                    class="navPage-subMenu-action navPages-action has-subMenu"
                    href="{{url}}"
                    data-collapsible="navPages-{{id}}"
                    data-collapsible-disabled-breakpoint="medium"
                    data-collapsible-disabled-state="open"
                    data-collapsible-enabled-state="closed">
                {{name}} <i class="fa fa-chevron-down" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down"/>
                </svg>
            </i>
            </a>
            <ul class="navPage-childList" id="navPages-{{id}}">
                {{#each children}}
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
            {{else}}

            <a class="navPage-subMenu-action navPages-action" href="{{url}}" target="_blank">{{name}}</a>
            {{/if}}
        </li>
        {{/each}}
        {{else}}

        {{#each children}}
        <li class="navPage-subMenu-item">
            {{#if children}}
            <a
                    class="navPage-subMenu-action navPages-action has-subMenu"
                    href="{{url}}"
                    data-collapsible="navPages-{{id}}"
                    data-collapsible-disabled-breakpoint="medium"
                    data-collapsible-disabled-state="open"
                    data-collapsible-enabled-state="closed">
                {{name}} <i class="fa fa-chevron-down" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down"/>
                </svg>
            </i>
            </a>
            <ul class="navPage-childList" id="navPages-{{id}}">
                {{#each children}}
                <li class="navPage-childList-item">
                    <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
            {{else}}

            <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
            {{/if}}
        </li>
        {{/each}}
        {{/startsWith}}

    </ul>
</div>
{{else}}
<a class="navPages-action" href="{{url}}">{{name}}</a>
{{/if}}
