---
brand:
    products:
        limit: {{theme_settings.brandpage_products_per_page}}

        category:
            shop_by_price: true
            products:
                limit: {{theme_settings.categorypage_products_per_page}}

blog:
    recent_posts:
        limit: {{theme_settings.footer_blog_posts_count}}
---
{{inject "brandProductsPerPage" theme_settings.brandpage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.brand.previous}}
        <link rel="prev" href="{{pagination.brand.previous}}">
    {{/if}}
    {{#if pagination.brand.next}}
        <link rel="next" href="{{pagination.brand.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{> components/custom/brand-sidenav}}

<div class="brand main {{#if theme_settings.top_pagination_visibility '===' false}}top-pagination-hidden {{/if}} {{#if theme_settings.bottom_pagination_visibility '===' false}}bottom-pagination-hidden {{/if}} {{#if brand.faceted_search_enabled}} product-filtering-enabled {{else}} product-filtering-disabled{{/if}}">
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h2 class="container-header">{{brand.name}}</h1>
  {{#if banners.top}}
      <div class="banners top" data-banner-location="top">
        {{#each (limit banners.top_metadata 1)}}
          <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
            <div data-event-type="promotion-click">
              {{{this.content}}}
            </div>
          </div>
        {{/each}}
      </div>
  {{/if}}
{{#if brand.image}}
<!-- <div class="brand-main-image">
  <img src="{{getImage brand.image 'thumb'}}">
</div> -->
{{/if}}
{{{snippet 'brand'}}}

<!-- GRID/LIST TOGGLE BUTTONS - GRID BY DEFAULT -->
{{#if theme_settings.product_layout_view '===' 'both_grid_default'}}
  <div class="grid-list-view toggle">
    <a class="toggle-link default grid active" href="#" title="Toggle Grid View"><svg class="toggle grid"><use xlink:href="#icon-grid"></use></svg></a>
    <a class="toggle-link list" href="#" title="Toggle List View"><svg class="toggle list"><use xlink:href="#icon-list"></use></svg></a>
    <div class="clear"></div>
  </div>
{{/if}}

<!-- GRID/LIST TOGGLE BUTTONS - LIST BY DEFAULT -->
{{#if theme_settings.product_layout_view '===' 'both_list_default'}}
  <div class="grid-list-view toggle">
    <a class="toggle-link default list active" href="#" title="Toggle List View"><svg class="toggle list"><use xlink:href="#icon-list"></use></svg></a>
    <a class="toggle-link grid" href="#" title="Toggle Grid View"><svg class="toggle grid"><use xlink:href="#icon-grid"></use></svg></a>
    <div class="clear"></div>
  </div>
{{/if}}
<div class="page">
    <main class="page-content {{#if theme_settings.product_layout_view '===' 'both_grid_default'}} both-grid-list-views {{/if}} {{#if theme_settings.product_layout_view '===' 'both_list_default'}} both-grid-list-views{{/if}}" id="product-listing-container">
        {{#if brand.products}}
            {{> components/brand/product-listing columns=theme_settings.category_brand_search_column_count settings=../settings}}
        {{else}}
            <p>{{lang 'brands.no_products'}}</p>
        {{/if}}
    </main>

    <div class="compare">
            <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'Compare Selected'}}</a>
    </div>

    <div class="clear"></div>
    {{#if banners.bottom}}
      {{#if settings.data_tag_enabled}}
        <div class="banners bottom" data-banner-location="bottom">
          {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
              <div data-event-type="promotion-click">
                {{{this.content}}}
               </div>
             </div>
           {{/each}}
         </div>
         {{else}}
           <div class="banners bottom" data-banner-location="bottom">
             <div class="banner">
               {{{limit banners.bottom 1}}}
             </div>
           </div>
         {{/if}}
     {{/if}}
</div>
</div>

{{/partial}}
{{> layout/base}}
