---
blog:
    recent_posts:
        limit: {{theme_settings.footer_blog_posts_count}}
---

{{#partial "head"}}

{{{stylesheet '/assets/css/theme.css'}}}
{{{ checkout.checkout_head }}}
{{{stylesheet '/assets/css/parts-warehouse.css'}}}
{{{ stylesheet '/assets/css/optimized-checkout.css' }}}
{{ getFontsCollection }}

<script type="text/javascript">
    window.language = {{{langJson 'optimized_checkout'}}};
</script>

{{{head.scripts}}}

{{/partial}}

{{#partial "page"}}

<div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

{{> components/custom/checkout-header}}

{{{ checkout.order_confirmation_content }}}

{{> components/common/checkout-footer}}

{{{ footer.scripts }}}

{{/partial}}

{{> layout/checkout}}
