<div class="top-menu">
    <div class="content">
         <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>

        <!-- OPTIONAL SHORT MESSAGE LINK -->
        <!-- <div class="left">
          <a class="optional-message-link" href="">Put an optional message here.</a>
        </div> -->

        <div class="left phone-number">
            {{#if settings.phone_number}}
                {{settings.phone_number}}
            {{/if}}
        </div>

        <div class="right account-links">
            <ul>
               {{#if settings.gift_certificates_enabled}}
                    <li class="navUser-item gift-certficates">
                        <a class="navUser-action" href="{{urls.gift_certificate.purchase}}">{{lang 'cart.gift_certificate'}}</a>
                    </li>
                {{/if}}
                {{#if settings.account_creation_enabled}}
                    <li class="navUser-item navUser-item--account">
                        {{#if customer}}
                            <a class="navUser-action account" href="{{urls.account.index}}"><i class="fa fa-user" aria-hidden="true"><svg><use xlink:href="#icon-user-alt" /></svg></i></a>
                            <a class="navUser-action logout" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
                        {{else}}
                            <a class="navUser-action" href="{{urls.auth.login}}"><!-- <i class="fa fa-user" aria-hidden="true"></i> --><a class="navUser-action login" href="{{urls.auth.login}}">{{lang 'common.login'}}</a><span class="or-text">or</span><a class="navUser-action create" href="{{urls.auth.create_account}}">{{lang 'Sign Up'}}</a>
                        {{/if}}
                     </li>
                {{/if}}
        <li class="navUser-item navUser-item--cart">
            <a
                class="navUser-action"
                data-cart-preview
                data-dropdown="cart-preview-dropdown"
                data-options="align:right"
                href="{{urls.cart}}">
                <span class="navUser-item-cartLabel"><i class="cart-icon" aria-hidden="true"><svg><use xlink:href="#icon-cart" /></svg></i></span> <span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="header-container full-width {{#if theme_settings.slider_width '===' 'full-width'}} full-width-auto {{/if}} full-width{{#if theme_settings.header-layout '!==' 'full-width'}} in-container{{/if}}">
  <div class="header-padding{{#if theme_settings.header-layout '===' 'in-container-with-padding-no-margin'}} in-container-with-padding-no-margin{{/if}}">
  <div class="header-padding{{#if theme_settings.header-layout '===' 'in-container-with-padding'}} in-container-with-padding{{/if}}">
  <header class="header" role="banner">
    {{#if  '===' ''}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/checkout-store-logo}}
        </div>
    {{/if}}

  <div class="navPages-container inside-header left-logo" id="menu" data-menu>
    <nav class="navPages">
        <div class="navPages-quickSearch right searchbar">
            {{> components/common/quick-search}}
        </div>
    </nav>
</div>
<div class="navPages-container inside-header right-logo" id="menu" data-menu>
    <nav class="navPages">
        <div class="navPages-quickSearch right searchbar">
            {{> components/common/quick-search}}
        </div>
    </nav>
</div>
<div class="navPages-container inside-header center-logo" id="menu" data-menu>
    <nav class="navPages">
        <div class="navPages-quickSearch right searchbar">
            {{> components/common/quick-search}}
        </div>
    </nav>
</div>
<div class="clear"></div>
<div class="mobile-menu navPages-container" id="menu" data-menu>
  <div class="currency-converter">
    <ul class="navPages-list navPages-list--user">
        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                    {{currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPnavPagesage-subMenu-list">
                      {{#each currency_selector.currencies}}
                      <li class="dropdown-menu-item">
                          <a class="currency-name-switcher" href="{{{switch_url}}}">
                              {{#if is_active}}
                              <strong>{{{flag}}} {{name}}</strong>
                              {{else}}
                              {{{flag}}} {{name}}
                              {{/if}}
                          </a>
                      </li>
                      {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
    </ul>
  </div>
        {{> components/common/navigation-menu}}
</div>
</header>
</div>
</div>
</div>

<div class="main-nav-container{{#if theme_settings.header-layout '!==' 'in-container'}} full-width{{/if}}">
  <div class="navPages-container main-nav" id="menu" data-menu>
        {{> components/common/navigation-menu}}
  </div>
</div>
