// PASTE CUSTOM STYLING HERE



ul.product-icons-thumbs {
  list-style: none;
  margin-left: 0;
}

.copyright {
  text-align: center;
}

.special-order {
  margin: 6px 0;
  text-align: center;
  color: #A54A76;
  font-size: medium;

  a {
    color: #A54A76;
  }
}

.disclaimer {
  margin-bottom: 8px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;

  a {
    color: #ffffff;
  }
}

footer.footer .container {
  margin-bottom: 10px;
}

article.footer-info-col.footer-info-col--small {
  font-size: 14px;
}


footer ul.site-info {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  a {
    color: #ffffff;
  }
}