// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
// between it and the header on all situations
//
// =============================================================================

.magenta {
    color: #a54a76 !important;
}

.no-transform {
    text-transform: none !important;
}

.strongish {
    font-weight: 500;
}
.wwr-title {
    font-size: 18px;
    margin: 10px 0;
    text-align: left;
}

.cta-mania {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    padding: 20px;
}


.body {
    margin-bottom: spacing("double") * 2;
    margin-top: spacing("single"); // 1
    max-width: 980px;
    margin: 0 auto;

    @include breakpoint("medium") {
        margin-top: spacing("single") + spacing("base"); // 1
    }
}


.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}
