{{#partial "page"}}
    <section class="page">
        <main class="page-content page-content--textCenter">
            <h1 class="page-heading strongish no-transform"><span class="magenta">Thank you </span>  for creating your Wellness Within Reach Account</h1>
            <p class="wwr-title">{{{lang 'create_account.created.details' store_name=settings.store_name email=customer.email}}}</p>

            <h3 class="page-heading strongish magenta">Shop now for:</h3>
            <div class="cta-mania">
                <a class="button button--primary" href="/new-products/">New Products</a>
                <a class="button button--primary" href="/8-essential-supplements/">8 Essential Supplements</a>
                <a class="button button--primary" href="/nutrition-supplements/immune-support/">Immune Support</a>
                <a class="button button--primary" href="/nutrition-supplements/energy-support/">Energy Support</a>
                <a class="button button--primary" href="/nutrition-supplements/digestive-support/">Digestive Support</a>
            </div>

        </main>
    </section>
{{/partial}}
{{> layout/base}}
