{{inject 'passwordRequirements' settings.password_requirements}}
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h1 class="page-heading strongish">{{lang 'create_account.heading' }}</h1>

    <div>
        <h2>Your Wellness Within Reach Account benefits:</h2>
    <ol>
        <li>Access to Professional Grade Nutraceuticals and Supplements not available to the general public</li>
        <li>Exclusive Sales and Special Offers</li>
        <li>Access to our Licensed Practitioner, Peter Seymour Howe, CNMT</li>
        <li>Super-fast shipping, minimizing your wait time</li>
        <li>Free Shipping on orders over $250</li>
    </ol>

    </div>

    <div class="account account--fixed">
        <div class="account-body">
            {{#if forms.create_account.error}}
                {{> components/common/alert-error forms.create_account.error}}
            {{/if}}
            {{#if settings.account_creation_enabled}}
                <form action="{{urls.auth.save_new_account}}" data-create-account-form method="post" class="form">
                    <div class="form-row form-row--half">
                        {{#each forms.create_account.account_fields }}
                            {{{dynamicComponent 'components/common/forms'}}}
                        {{/each}}
                        {{#each forms.create_account.address_fields }}
                            {{{dynamicComponent 'components/common/forms'}}}
                        {{/each}}
                        {{inject 'required' (lang 'common.required')}}
                        {{inject 'state_error' (lang 'errors.state_error')}}
                    </div>
                    {{{ forms.create_account.recaptcha.markup}}}
                    <div class="form-actions">
                        <input type="submit" class="button button--primary" value="{{lang 'forms.create_account.submit_value' }}" />
                    </div>
                </form>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{> layout/base}}
