<nav class="{{#if brand.faceted_search_enabled}} product-filtering-enabled {{else}} product-filtering-disabled{{/if}}">
    {{#if brand.faceted_search_enabled}}
        {{> components/faceted-search/index brand}}
    {{else}}
        {{#if shop_by_brand}}
        <div class="sidebarBlock">
            <h2 class="container-header sidebarBlock-heading">{{lang 'brand.label'}}</h2>
            <ul class="navList">
                {{#each shop_by_brand}}
                    <li class="navList-item">
                        <a class="navList-action" href="{{url}}">{{name}}</a>
                    </li>
                {{/each}}
                <li class="navList-item">
                    <a class="navList-action" href="{{urls.brands}}">{{lang 'common.view_all'}}</a>
                </li>
            </ul>
        </div>
        {{/if}}
    {{/if}}
    {{#if theme_settings.show_sidenav_featured_banner '===' true}}
    {{#if theme_settings.external_link_sidenav '===' true}}
    <!-- BEGIN SIDENAV BANNER -->
      <div class="sidenav-banner zoom-image-container">
        <a target="_blank" href="{{theme_settings.featured_sidenav_link}}">
          <img class="sidenav-image lazyload" src="/product_images/uploaded_images/{{theme_settings.featured_sidenav_image}}" alt="{{theme_settings.featured_sidenav_banner_name}}" title="{{theme_settings.featured_sidenav_banner_name}}" />
        </a>
      </div>
    <!-- END SIDENAV BANNER -->
    {{/if}}
    {{#if theme_settings.external_link_sidenav '===' false}}
    <!-- BEGIN SIDENAV BANNER -->
      <div class="sidenav-banner zoom-image-container">
        <a target="_self" href="/{{theme_settings.featured_sidenav_link}}">
          <img class="sidenav-image lazyload" src="/product_images/uploaded_images/{{theme_settings.featured_sidenav_image}}" alt="{{theme_settings.featured_sidenav_banner_name}}" title="{{theme_settings.featured_sidenav_banner_name}}" />
        </a>
      </div>
    <!-- END SIDENAV BANNER -->
    {{/if}}
    {{/if}}
</nav>
