<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
<head>
    <title>{{ head.title }}</title>
    {{{ resourceHints }}}
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    {{#block "head"}} {{/block}}

    <link href="{{ head.favicon }}" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script>
        // Change document class from no-js to js so we can detect this in css
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {{ getFontsCollection }}
    {{{stylesheet '/assets/css/theme.css'}}}
    {{{stylesheet '/assets/css/parts-warehouse.css'}}}
    {{{stylesheet '/assets/css/cards-simple.css'}}}
    {{{stylesheet '/assets/css/cards-quicksearch.css'}}}
    {{{stylesheet '/assets/css/theme-editor-responsive.css'}}}
    {{{stylesheet '/assets/css/custom.css'}}}

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{inject 'secureBaseUrl' settings.secure_base_url}}
        {{inject 'cartId' cart_id}}
        {{inject 'template' template}}

    </head>
    <body id="body" class="main home{{#if theme_settings.body_width '===' 960}} nine-sixty{{/if}} {{#if theme_settings.body_width '===' 1170}} eleven-seventy {{/if}} {{#if theme_settings.body_width '===' 1280}} twelve-eighty {{/if}} {{#if theme_settings.body_width '===' 1366}} thirteen-sixty-six {{/if}} {{#if theme_settings.body_width '===' 1440}} fourteen-forty {{/if}} {{#if theme_settings.slider_width '===' 'full-width'}}slider-full-width{{/if}} {{#if theme_settings.slider_width '===' 'in-container-floated'}}slider-in-container-floated{{/if}} {{#if theme_settings.slider_width '===' 'in-container'}}slider-full-width-in-container{{/if}} home-layout">

      <!-- NEWSLETTER POPUP -->
      {{#if settings.show_newsletter_box}}
      {{#if ../theme_settings.popup_visibility '===' 'popup-active'}}
      <div id="newsletter-popup">
        <div style="top: 50%; left: 50%; display: none;" id="dialog" class="window">
          <div id="san">
            <a href="#" class="close agree"><img src="{{cdn 'assets/img/close-window.png'}}" style="float:right;"></a>
              <div class="newsletter-popup-content">
                <h1 class="newsletter-headline">{{lang 'newsletter.popup_headline'}}</h1>
                  <div class="content">
                      <div class="" data-section-type="newsletterSubscription">
                              {{> components/common/subscription-form}}
                      </div>
                      <div class="clear"></div>
                  </div>
              </div>
          </div>
          </div>
        <div style="width: 2478px; font-size: 32pt; color:white; height: 1202px; display: none; opacity: 0.4;" id="mask"></div>
      </div>
      {{/if}}
      {{/if}} <!-- END NEWSLETTER POPUP -->

      <div style="width: 2478px; font-size: 32pt; color:white; height: 1202px; display: none; opacity: 0.4;" id="quickSearch-mask"></div>

        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#and settings.privacy_cookie settings.is_eu_ip_address}}
            {{> components/common/cookie}}
        {{/and}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
       <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

       <script>
           // Exported in app.js
           window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
       </script>

       {{{footer.scripts}}}

   </body>
</html>
