<section class="productCarousel"
    data-list-name="{{list}}"
    data-slick='{
        "dots": false,
        "infinite": false,
        "mobileFirst": false,
        "slidesToShow": {{ columns }},
        "slidesToScroll": 3,
        "responsive": [
        {
          "breakpoint": 981,
          "settings": {
            "slidesToShow": 4,
            "slidesToScroll": 4
          }
        },
        {
          "breakpoint": 801,
          "settings": {
            "slidesToShow": 3,
            "slidesToScroll": 3
          }
        },
        {
          "breakpoint": 551,
          "settings": {
            "slidesToShow": 2,
            "slidesToScroll": 2
          }
        }
        ]
    }'>
    {{#each products}}
    <li class="productCarousel-slide product">
        {{>components/products/card show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer}}
    </li>
    {{/each}}
</section>
